html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: calc(0.5em + lvw);
    --main-font: Microsoft Sans Serif;
    --background-color:  #ffffff;
    --border:  1px solid #1f3079;
}

h1 {
    margin: 0;
    line-height: normal;
    text-transform: capitalize;
    
}

.wrapper {
    max-width: 100%;
    min-height: 100%;
    position: relative;
}

.header {
    display: flex;
    justify-content: center;
    padding: 20px 20px;
    height: 50px;
    margin: 0 auto;
    background-color: #d0d6f0;
    border-bottom: 10px solid #d0d6f0;
}

.header-text h1 {
    font-size: 35px;
    margin: 0;
    text-transform: uppercase;
    line-height: 24px;
    text-decoration: none;
    color:  #405ee0;
    padding-right: 20px;
    padding-top: 3px;
}

.header-text p {
    margin: 0;
    line-height: 20px;
    padding-top: 4px;
}

.drop {
    font-size: 20px;
    background-color: var(--background-color);
    border: var(--border);
    -moz-border-radius: 3px;
    border-radius: 5px;
    display: inline-block;
    width: 249px;
    height: 49px;
    position: relative;
    margin: 0px 5px;
}

.drop p {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 30px;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.drop .dropdown_block {
    display: none;
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
}

.drop:hover .dropdown_block, .dropdown_block:hover {
    display: block;
}

.drop ul {
    display: block;
    width: 100%;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
    max-height: 300px;
    overflow: hidden auto;
}

.drop li {
    display: lock;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    box-sizing: border-box;
}

.drop li:hover {
    cursor: pointer;
}

.select {
    font-size: 18px;
    background-color: #d0d6f0;
    border: var(--border);
    -moz-border-radius: 3px;
    border-radius: 5px;
}

.main-search {
    display: flex;
    float: right;
    font-size: 18px;

}

.main-search-field {
    background-color: var(--background-color);
    border: var(--border);
    border-radius: 5px;
    margin: 0px 5px 0 0px;
    font-size: 18px;
    font-family: sans-serif;
}

.btn {
    color:#1f3079;
    background-color: var(--background-color);
    cursor: pointer;
    white-space: nowrap;
    padding: 10px;
    border-width: 1px;
}

.btn-filter {
    padding: 13px 10px;
    margin-left: 0;
    background-color: var(--background-color);
    border-radius: 5px;
    border: var(--border);
    font-size: 20px;
}

.btn-load {
    display: unset;
    margin-left: 0;
    background-color: var(--background-color);
    border-radius: 5px;
    border: var(--border);
    font-size: 20px;
}

.main {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 50px;
}

.main-news {
    max-width: 1200px;
    margin: 10px auto;
}

.footer {
    position: absolute;
    bottom: 100;
    text-align: center;
    width: 100%;
    background-color: #d0d6f0;
    height: 50px;
    overflow: hidden;
    padding-bottom: 15px;
}

.footer-link {
    font-size: 25px;
    text-decoration: none;
    color:  #405ee0;
}

.news-item {
    display: flex;
    margin: 50px;
    color: #000000;
    font-size: 20px;
    font-family: var(--main-font);
}

.news-picture {
    background-size: cover;
    background-position: center;
    display: flex;
    width: 50%;
    height: unset;
}

.news-content {
    text-align: left;
    width: 70%;
    font-size: 16px;
}

.news-title {
    margin: 18px;
    padding: 0;
    color: #2c2b2b;
}

.news-source {
    color: #1f3079;
    margin: 20px;
    padding: 0;
}

.news-text {
    margin: 20px;
    padding: 0;
    color: #2c2b2b;
}

.news-link {
    text-decoration: none;
    color: #2c2b2b;
    margin: 20px;
    border-radius: 2px;
}

.error-message {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(221, 127, 127);
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
}

.error-text {
    margin-top: 20px;
}

.errordetails {
    background-color: rgb(204, 198, 190);
    color: #777;
    font-size: 80%;
    border: 1px solid #777;
    padding: 10px;
    border-radius: 5px;
}

@media (max-width: 800px) {
    .news-picture {
        display: none;
    }
    .news-content {
        width: 100%;
    }
    .news-title {
        font-size: 20px;
    }
    .news-source {
        font-size: 16px;
    }
    .header {
        display: flex;
        flex-direction: column;
        padding: 50px 25%;
    }
    .header-text h1 {
        font-size: 25px;
        padding-right: 0px;
        padding-top: 0px;
    }
    .header-text p {
        line-height: 20px;
        padding-top: 0px;
    }
    .main-search {
        padding: 5px 0;
        flex-direction: column;
    }
    .select {
        font-size: 20px;
        width: 100%;
    }
    .main-search-field {
        margin: 0px 0px 5px 0px;
        font-size: 20px;
        width: 100%;
        height: 26px;
    }
    .btn-filter {
        padding: 0 10px;
        height: 26px;
        width: 100%;
    }
    .btn-load {
        font-size: 20px;
    }
    .footer {
        padding-bottom: 0;
    }
    .footer-link {
        font-size: 20px;
    }
}